<div class="listings bg-dark" >
  <div class="listings_channels ">
    <h2 class="listings_header"><%= session[:user]["name"] %></h2>
    <ul class="channel_list">
      <%= sidebar_link_item('ユーザー情報編集', edit_user_path(id: session[:user]["id"])) %>
      <% if current_user.administrator %>
        <%= sidebar_link_item('ユーザー一覧', :users) %>
      <% end %>
        <%= sidebar_link_item('カテゴリー一覧', :categories) %>
        <br>
        <%= sidebar_link_item('ログアウト', :root) %>
      </ul>
  </div>
</div>

