<div class="row">
<div class="col-8" style="background-color:#465568;">
  <%# メインコンテナ %>
  <ul class="list-group">
    <li class="list-group-item" id="items">
      <% if @categories.present? %>
        <table class="table table-striped">
          <tbody>
            <tr><%# 「すべて」カテゴリー %>
              <td><%= link_to "すべて", tasks_path %></td>  
              <td></td>
              <td></td>
            </tr>
          <% @categories.each do |category| %> <%# カテゴリーを一覧表示 %>
            <tr>
              <td><%= link_to category.name, tasks_path(category_id: category.id) %></td>  
              <td><%= link_to(content_tag(:i, '' ,class: "far fa-edit"), edit_category_path(id: category.id)) %><%#タスクの削除 %></td>
              <td><%= link_to(content_tag(:i, '' ,class: "far fa-trash-alt"), category_path(id: category.id),data:{ confirm:"本当に削除しますか？"},:method => :delete) %><%#タスクの削除 %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% else %>
      <p>カテゴリーはありません。</p>
      <% end %>
    </li>
  </ul>
  <%= link_to "カテゴリーを追加", new_category_path, class:"btn btn-primary"%>

</div>
<div class="col-4 bg-dark" style="padding:0px;">
    <%= render partial:'shared/sidebar' ,locals:{username:@username}%>
</div>